<div class="event">
  <h3><%= link_to event.name, event_path(event) %></h3>
  <span>
    Date : <%= event.date %> |
    City: <%= event.city %> |
    Capaciy: <%= event.capacity %>
  </span><br />
</div>
